# Object files
*.o
*.ko
*.obj
*.elf
bin/
*.s
*.i
*.lis

# IDE results
.*.swp
*.komodoproject

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
log
*.log

# fonts
gitio/fonts/theleagueof-league-gothic/images/
gitio/fonts/theleagueof-league-gothic/source/


