/* Regular */
@font-face {
    font-family: 'Rosario';
    src: url('Rosario-Italic.eot');
    src: url('Rosario-Italic.eot?#iefix') format('embedded-opentype'),
         url('Rosario-Italic.woff') format('woff'),
         url('Rosario-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

/* Italic */
@font-face {
    font-family: 'Rosario';
    src: url('Rosario-Regular.eot');
    src: url('Rosario-Regular.eot?#iefix') format('embedded-opentype'),
         url('Rosario-Regular.woff') format('woff'),
         url('Rosario-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* Condensed */
@font-face {
    font-family: 'Rosario Condensed';
    src: url('Rosario-Bold.eot');
    src: url('Rosario-Bold.eot?#iefix') format('embedded-opentype'),
         url('Rosario-Bold.woff') format('woff'),
         url('Rosario-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

/* Condensed Italic */
@font-face {
    font-family: 'Rosario Condensed';
    src: url('Rosario-BoldItalic.eot');
    src: url('Rosario-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('Rosario-BoldItalic.woff') format('woff'),
         url('Rosario-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
