/*
 * local.less
 * css generation:
 * lessc --include-path=$HOME/git/marcel-kernel/less less/local-font.less > css/local-font.css
 */
.default-font {
  font: normal normal 15px/1.5 'GilliusADF 2 Regular', 'Helvetica', Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.title-font {
  font-family: 'GilliusADF 2 Condensed Bold', 'Code Bold', Archive, 'Zag Bold', 'League Gothic Condensed', 'Helvetica', Verdana, Arial, sans-serif;
  letter-spacing: -1px;
  word-spacing: 5px;
}
.hx-font,
.footer-font {
  font-family: 'GilliusADF 2 Condensed Bold', 'Code Bold', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
.hx-font {
  font-weight: bold;
  /* font-style: italic; */
  letter-spacing: 1px;
}
.text-font {
  font-family: 'GilliusADF 2 Regular', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
.text-italic-font {
  font-family: 'GilliusADF 2 Regular Italic', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
.text-bold-font {
  font-family: 'GilliusADF 2 Regular Bold', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
.text-bold-italic-font {
  font-family: 'GilliusADF 2 Regular Bold Italic', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
.code-font {
  font: normal normal 0.8em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
/*
 * fonts.less
 */
body {
  font: normal normal 15px/1.5 'GilliusADF 2 Regular', 'Helvetica', Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
#header h1 {
  font-family: 'GilliusADF 2 Condensed Bold', 'Code Bold', Archive, 'Zag Bold', 'League Gothic Condensed', 'Helvetica', Verdana, Arial, sans-serif;
  letter-spacing: -1px;
  word-spacing: 5px;
  font-size: 5.5em;
}
#header h2 {
  font-family: 'GilliusADF 2 Condensed Bold', 'Code Bold', Archive, 'Zag Bold', 'League Gothic Condensed', 'Helvetica', Verdana, Arial, sans-serif;
  letter-spacing: -1px;
  word-spacing: 5px;
  font-size: 4.2em;
}
footer p {
  font-family: 'GilliusADF 2 Condensed Bold', 'Code Bold', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
  font-size: .8em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GilliusADF 2 Condensed Bold', 'Code Bold', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
  font-weight: bold;
  /* font-style: italic; */
  letter-spacing: 1px;
}
#article blockquote {
  font-family: 'GilliusADF 2 Regular Italic', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
#article blockquote em {
  font-family: 'GilliusADF 2 Regular', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
#article blockquote strong {
  font-family: 'GilliusADF 2 Regular Bold Italic', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
#article blockquote strong em,
#article blockquote em strong {
  font-family: 'GilliusADF 2 Regular Bold', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
#article code,
#article pre {
  font: normal normal 0.8em/1.7 "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
#article table th {
  font-family: 'GilliusADF 2 Regular Bold', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
  font-size: .85em;
}
#article dt {
  font-family: 'GilliusADF 2 Regular Bold', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
#main_title {
  font-family: 'GilliusADF 2 Condensed Bold', 'Code Bold', Archive, 'Zag Bold', 'League Gothic Condensed', 'Helvetica', Verdana, Arial, sans-serif;
  letter-spacing: -1px;
  word-spacing: 5px;
  font-size: 3.85em;
}
#main_content p {
  font-family: 'GilliusADF 2 Regular', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
  color: black;
}
#main_content p em {
  font-family: 'GilliusADF 2 Regular Italic', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
#main_content p strong {
  font-family: 'GilliusADF 2 Regular Bold', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
#main_content p em strong,
#main_content p strong em {
  font-family: 'GilliusADF 2 Regular Bold Italic', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
#main_content .italic {
  font-family: 'GilliusADF 2 Regular Italic', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
#main_content .italic strong {
  font-family: 'GilliusADF 2 Regular Bold Italic', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
#main_content .italic em {
  font-family: 'GilliusADF 2 Regular', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
#main_content .italic em strong,
#main_content .italic strong em {
  font-family: 'GilliusADF 2 Regular Bold', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
p.current-node,
#main_content p.current-node {
  font-family: 'GilliusADF 2 Regular Bold Italic', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}
#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}
.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}
.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height: 70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}
.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}
.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}
