/*
 * local.less
 * css generation:
 * lessc --include-path=$HOME/git/marcel-kernel/less less/local-font.less > css/local-font.css
 */

.default-font {
    font: normal normal 15px/1.5 'GilliusADF 2 Regular', 'Helvetica', Verdana, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.title-font {
    font-family: 'GilliusADF 2 Condensed Bold', 'Code Bold', Archive, 'Zag Bold', 'League Gothic Condensed', 'Helvetica', Verdana, Arial, sans-serif;
    letter-spacing: -1px;
    word-spacing: 5px;
}

.hx-font, .footer-font {
    font-family:  'GilliusADF 2 Condensed Bold', 'Code Bold', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}

.hx-font {
    font-weight: bold;
    /* font-style: italic; */
    letter-spacing: 1px;
}

.text-font {
    font-family:  'GilliusADF 2 Regular', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}

.text-italic-font {
    font-family:  'GilliusADF 2 Regular Italic', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}

.text-bold-font {
    font-family:  'GilliusADF 2 Regular Bold', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}

.text-bold-italic-font {
    font-family:  'GilliusADF 2 Regular Bold Italic', Rosario, 'Helvetica', Verdana, Arial, sans-serif;
}

.code-font {
    font-family:  "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
    font-weight: bold;
    color: #ee3333;
}


@import "fonts.less";

